<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
   http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>HomepageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.HomepageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LoginPageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.LoginPageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductTablePageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.ProductTablePageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>GuestProductTablePageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.GuestProductTablePageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.RegistrationPageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>MyProductsPageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.MyProductsPageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.LogoutServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductEditingPageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.ProductEditingPageServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>ProductAddingPageServlet</servlet-name>
    <servlet-class>com.epam.balaian.hibernate.servlets.ProductAddingPageServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>HomepageServlet</servlet-name>
    <url-pattern>/homepage</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LoginPageServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductTablePageServlet</servlet-name>
    <url-pattern>/product_table</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>GuestProductTablePageServlet</servlet-name>
    <url-pattern>/guest_product_table</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>RegistrationPageServlet</servlet-name>
    <url-pattern>/registration</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>MyProductsPageServlet</servlet-name>
    <url-pattern>/my_products</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductEditingPageServlet</servlet-name>
    <url-pattern>/product_editing</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ProductAddingPageServlet</servlet-name>
    <url-pattern>/product_adding</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.epam.balaian.hibernate.servlets.AuthenticationFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/product_table</url-pattern>
    <url-pattern>/my_products</url-pattern>
    <url-pattern>/product_editing</url-pattern>
    <url-pattern>/product_adding</url-pattern>
  </filter-mapping>

  <welcome-file-list>
    <welcome-file>homepage</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>

</web-app>
